.podcastAdd {
	display: flex;

	&__img {
		flex: 1 1 50%;
		position: relative;
	}

	.decorate-img {
		position: absolute;
		top: -26px;
		left: -26px;
		z-index: 20;
	}
	.main-img {
		max-width: 100%;
		border-radius: 15px;
	}


	&__content {
		flex: 1 1 50%;
		height: 874px;
		padding-top: 25%;
		padding-left: 60px;
	}

	&__title {
		font-size: 70px;
		line-height: 88px;
		letter-spacing: 3.2px;
		font-weight: 400;
		margin-bottom: 90px;

		span {
			position: relative;
			img {
				position: absolute;
				left: -2px;
				bottom: -10px;
			}
		}
	}

	&__links {
		p {
			margin-bottom: 16px;
		}
	}
}